<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
        
        <title> Ahad Creates </title>
    </head>
    <body>
        <h2>About Me:</h2><br>
        <p style="background-color: khaki;">Hello there , Iam Ahadul Hasan Sirat .
            <br>I am a professional motion and graphic designer.
            <br>I study in Daffodil Internation University.</p>
            <p>I am plannig to go to The United Kingdom.
                <br>Beacause I love how they live ,how they talk.
                <br>My dream is to make people happy.
                <br>Put a big smile on my parents face.</p>
    </body>
</html>